* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e2e8f0;
  font-family: 'Times New Roman', Times, serif;
}
.App {
  background-color: #e2e8f0;
}
a {
  text-decoration: none;
  color: inherit;
}

.arrow-down {
  animation: arrow-down 300ms ease-in-out infinite alternate;
}

@keyframes arrow-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
