* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 2px solid #2e507729;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: border-color 300ms ease-in-out;
}
button:hover {
  border-color: #2e50775d;
}
.arrow-down {
  animation: arrow-down 300ms ease-in-out infinite alternate;
}

@keyframes arrow-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
